<% layout('layouts/biolerplate') %>

<div class="row my-3">
    <h1 class="text-center" >Form for edit of Product</h1>
    <div class="col-6 mx-auto my-2">

        <form class="needs-validation" action="/products/<%=foundProduct._id%>?_method=PATCH" method="POST" novalidate>

            <div class="mb-3">
                <label for="naam">Name: </label>
                <input type="text" class="form-control" name="name" id="naam" placeholder="Name of the product" value="<%=foundProduct.name%>" required>
                <div class="invalid-feedback">
                    Please enter name.
                </div>
            </div>

            <div class="mb-3">
                <label for="img">Image: </label>
                <input type="text" class="form-control" name="img" id="img" placeholder="Image URL of the product" value="<%=foundProduct.img%>" required>
                <div class="invalid-feedback">
                    Please choose a valid image url.
                </div>
            </div>

            <div class="mb-3">
                <label for="paisa">Price: </label>
                <input type="number" class="form-control" name="price" id="paisa" placeholder="price of the product" value="<%=foundProduct.price%>" required>
                <div class="invalid-feedback">
                    Please choose a valid price.
                </div>
            </div>

            <div class="mb-3">
                <label for="desc">Description: </label><br>
                <textarea name="desc" id="desc" rows="2" placeholder="Description of product" required> <%=foundProduct.desc %> </textarea>
                <div class="invalid-feedback">
                    Please enter description, Description can't be Empty.
                </div>
            </div>
            <button class="btn btn-sm btn-success" type="submit">Edit Product</button>

        </form>
    </div>
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    // function is called iife(immediate invoked functional expression)(turant calling , without fn name)
    (() => {
        'use strict'
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.classList.add('was-validated')
            }, false)
        })
    })()
</script>